<ion-tabs>

  <!-- Tabs Shown At Bottom -->
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab1">
      <ion-icon name="calendar-outline"></ion-icon>
      <ion-label>Calendar</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon name="pulse"></ion-icon>
      <ion-label>Blood</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon name="fitness-outline"></ion-icon>
      <ion-label>More</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
