<!-- title of the Blood graph -->
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      BloodGraph
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">BloodGraph</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- Drop Down List To Select - Glucose, Insulin, Iron, VitaminD -->
  <ion-list>
  <ion-item>
    <ion-label>Element</ion-label>
    <ion-select placeholder="Select" okText="Select"
    cancelText="Dismiss"
    [(ngModel)]="selected_option" (ionChange)="showSelectedChart()" (click) ="hideBloodCard()">
      <ion-select-option value="glucose">Glucose</ion-select-option>
      <ion-select-option value="insulin">Insulin</ion-select-option>
      <ion-select-option value="iron">Iron</ion-select-option>
      <ion-select-option value="Vitamin D">Vitamin D</ion-select-option>
    </ion-select>
  </ion-item>
</ion-list>

<!--  Hint to let user know how to use this page -->
<ion-card id="bloodPageCard">
  Select an item from the dropdown list to view your blood test results in a graph format.
</ion-card>

<div id="chart_div">

</div>

<!-- Create Graphs -->
<ion-card>
  <div class="divChart">
    <canvas id="myChart" height="350px"></canvas>
  </div>
</ion-card>

<ion-card>
  <div class="divChart">
    <canvas id="glucoseChart" height="350px"></canvas>
  </div>
</ion-card>

<ion-card>
  <div class="divChart">
    <canvas id="insulinChart" height="350px"></canvas>
  </div>
</ion-card>

<ion-card>
  <div class="divChart">
    <canvas id="ironChart" height="350px"></canvas>
  </div>
</ion-card>

<ion-card>
  <div class="divChart">
    <canvas id="vitaminChart" height="350px"></canvas>
  </div>
</ion-card>

<!-- Card Content -->
<div id="diabetes-info">
<ion-card>
  <ion-card-content>
        <p>Your blood sugar level should be below <strong>140mg/dl</strong>.</p>
        <br>
        <p>If your blood sugar level is below <strong>115</strong>, you should some jelly beans.</p>
        <br>
        <p>Some symptoms you should look out for.</p>
        <ul>
          <li>Increased Hunger</li>
          <li>Increased Thirst</li>
          <li>Weight Loss</li>
          <li>Blurry Vision</li>
        </ul>
      </ion-card-content>
    </ion-card>
  </div>

  <div id="iron-info">
  <ion-card>
        <ion-card-header>
          <p>Your iron level should be between <strong>35 and 45</strong>.</p>
        </ion-card-header>
        <ion-card-content>
        <p>If your iron level is below <strong>16</strong>, you may be anaemic.</p>
        <br>
          Some symptoms you should look out for.
          <ul>
            <li>Pale skin</li>
            <li>Dizziness</li>
            <li>Weight Loss</li>
          </ul>
        </ion-card-content>
      </ion-card>
    </div>

    <div id="insulin-info">
    <ion-card>
          <ion-card-header>
            <p>Your insluin level should be between <strong>16 and 230</strong>.</p>
          </ion-card-header>
          <ion-card-content>
            <p>If your insulin level is below <strong>110</strong>, you should eat some jellybeans.</p>
            <br>
            Some symptoms you should look out for.
            <ul>
              <li>Shakiness</li>
              <li>Pale skin</li>
              <li>Fatigue</li>
            </ul>
          </ion-card-content>
        </ion-card>
      </div>

      <div id="vitaminD-info">
      <ion-card>
            <ion-card-header>
              <p>Your vitamin D level should be between <strong>20 and 50</strong>.</p>
            </ion-card-header>
            <ion-card-content>
              <p>If your vitamin D level is below <strong>12</strong>, you may be deficient.</p>
              <br>
              Some symptoms you should look out for.
              <ul>
                <li>Muscle weakness</li>
                <li>Bone pain</li>
                <li>Fatigue</li>
              </ul>
            </ion-card-content>
          </ion-card>
        </div>
        
</ion-content>
