ion-select {
  color: #545ca7;
  --placeholder-color: #971e49;
  --placeholder-opacity: 1;
}

ion-title {
  --ion-font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Roboto", sans-serif;
}

#selectResultPeriod {
  padding-left: 5%;
  text-align: center;
}
#selectResultPeriod  ion-label{
  padding-left: 10%;
  padding-right: 10%;
  text-align: center;
}

.divChart {
  display: block;
}
#diabetes-info {
  display: none;
}

#iron-info{
  display: none;
}

#myChart{
  height: 100%;
  align-self: center;
  display: none;
}

#ironChart{
  height:100%;
}

#bloodPageCard {
  height:auto;
  text-align: left;
  padding-top:5%;
  padding-left: 5%;
  padding-bottom: 5%;
  font-size: 16px;
  display:block;
}
