<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Calendar
    </ion-title>

  </ion-toolbar>
</ion-header>
<ion-content [fullscreen] = "true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Calendar</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- Appointments Added Notification -->
  <div id="added-appointment">
    <h4>Appointment Added</h4>
  </div>

  <!-- Created Calendar Here -->
  <ion-card height = "400px">
  <ion-segment [(ngModel)]="calendar.mode">
  </ion-segment>

<!-- Arrows User To Change Months -->
<div id="topRow" width = 100%>
  <ion-row>
    <ion-col width="2%">
      <ion-button fill="clear" (click)="back()">
        <ion-icon name="arrow-back"  size="medium"></ion-icon>
      </ion-button>
    </ion-col>
    <ion-col>
      <h2 class = "month">{{viewTitle}}</h2>
    </ion-col>
    <ion-col width="2%">
      <ion-button fill="clear" (click)="next()">
        <ion-icon name="arrow-forward" size="medium"></ion-icon>
      </ion-button>
    </ion-col >
  </ion-row>
</div>

<!-- This Changes Week View Headers:-->
<ng-template #template let-viewDate="viewDate">
       <div class="custom-day-header"> {{ viewDate.dayHeader }} </div>
   </ng-template>

<!-- Template For Calendar From Ionic Platform -->
<div class="calendar">
  <calendar
    [eventSource]="eventSource"
    [calendarMode]="calendar.mode"
    [currentDate]="calendar.currentDate"
    (onTitleChanged)="onViewTitleChanged($event)"
    (onEventSelected)="onEventSelected($event)"
    (onTimeSelected)="onTimeSelected($event)"
    [weekviewHeaderTemplate]="template"
    formatDayHeader="EEEEE"
    formatDay = "dd"
    step="30"
  >
  </calendar>
  </div>
  </ion-card>

  <!-- Add Events To Calendar Form -->
  <ion-card>
    <h2><ion-label>Add event:</ion-label></h2>
  <div id="calendarInput">
    <ion-item><ion-label>Event name:</ion-label><ion-input placeholder='e.g. - "doctor"' [(ngModel)]="appointmentType"></ion-input></ion-item>
    <ion-item><ion-label>Day:</ion-label><ion-input placeholder="DD" [(ngModel)]="appointmentDay"></ion-input></ion-item>
    <ion-item><ion-label>Month:</ion-label><ion-input placeholder="MM" [(ngModel)]="appointmentMonth"></ion-input></ion-item>
    <ion-item><ion-label>Start time:</ion-label><ion-input placeholder="HH (24hr) e.g. - 12" [(ngModel)]="appointmentStartTime"></ion-input></ion-item>
    <ion-item><ion-label>End time:</ion-label><ion-input placeholder="HH (24hr) e.g. - 13" [(ngModel)]="appointmentEndTime"></ion-input></ion-item>
  </div>
  <br>
  <!-- Button To Add Event. Triggers The addAppointmentToDatabase Function. -->
  <div id="calendarButton"><ion-button color = "secondary" size="small" (click)="addAppointmentToDatabase()">Add to calendar</ion-button></div>
  <br>
  </ion-card>


  </ion-content>
