h2{
  font-size: 18px;
  text-align: center;
}

weekview-allday-label {
  font-size: 5px;
}

.add_events{
  font-size: 10px;
}

.remove_events{
  font-size: 10px;
}

#calendar {
  height:100%;
}

.custom-day-header {
  font-size:20px;
}

.day-header {
  font-size: 30px;
}

#calendarButton {
  text-align: center;
}

ion-item {
  font-size:12px;
}

.calendar-header {
  font-size: 10px;
}

#added-appointment {
  width: 50%;
  height: auto;
  padding-left:5%;
  padding-right:5%;
  padding-top: 2%;
  padding-bottom: 2%;
  border-radius: 8px;
  background: rgb(118, 182, 219);
  position: fixed;
  left: 25%;
  top: 12%;
  z-index: 1;
  display: none;
}

// set the size of header4 
h4 {
  font-size: 100%;
  padding: 2%;
  text-align: center;
  justify-content: center;
  color: white;
}
