#prescriptions-section, #health-institutions-section, #heartHealth-section, #hearingHealth-section {
    display: none;
}
#other_features-section {
    display: block;
}
#back-button-spacing > ion-title{
    padding-left: 10%;
}
#back-button-spacing > ion-icon {
    font-size: x-large;
}

agm-map {
  height: 300px;
}

#heartHealthCard {
  height: 100%;
}

#heartChart {
  height: 500px;
}

.HeartChart {
  height: 500px;
}

.divChart {
  display: block;
}

.more-object {
  --ion-item-background: #ededed;
  //--background-activated-opacity
}

.item-label {
  color:black;
  font-size:18px;
}
