
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>

    </ion-title>

  </ion-toolbar>
</ion-header>

<!-- Back Button Used For In-Page Navigation -->
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar id = "back-button-spacing">
      <ion-icon name="chevron-back-outline" (click) = "goBack()"></ion-icon>
      <ion-title size="large">{{ page_title }}</ion-title>
    </ion-toolbar>
  </ion-header>

<!-- Show All Extra Features -->
  <div id="other-features-section">
  <ion-card>
    <ion-item class="more-object">
      <ion-icon name="newspaper-outline" slot="start"></ion-icon>
      <ion-label (click) = "displayPrescriptionsSection()" class="item-label">Prescriptions</ion-label>
    </ion-item>
</ion-card>
    <ion-card>
      <ion-item class="more-object">
        <ion-icon name="navigate-outline" slot="start"></ion-icon>
        <ion-label (click) = "displayHealthInstitutionsSection()" class="item-label">Health Institutions</ion-label>
      </ion-item>
</ion-card>
  <ion-card>
    <ion-item class="more-object">
      <ion-icon name="heart" slot="start"></ion-icon>
      <ion-label (click) = "displayHeartHealthSection()" [(ngModel)]="selected_option" (ionChange)="showHeartChart()" class="item-label">Heart Health</ion-label>
    </ion-item>
</ion-card>

<ion-card>
    <ion-item class="more-object">
      <ion-icon name="ear-outline" slot="start"></ion-icon>
      <ion-label (click) = "displayHearingHealthSection()" class="item-label">Hearing Health</ion-label>
    </ion-item>
  </ion-card>
  </div>

<!-- Following Is The Content When A Particular Section Is Dispayed -->
<!-- Content When Prescriptions -->
<div id="prescriptions-section">
<ion-card>
  <ion-item>
    <ion-icon name="copy-outline" slot="start"></ion-icon>
    <ion-label>Yasmin Pill</ion-label>
  </ion-item>

  <ion-card-content>
    <ul> Start Date: 15 October 2020</ul>
    <ul> End Date: unknown</ul>
    <ul> Directions: take at 9am each day</ul>
  </ion-card-content>
</ion-card>

<ion-card>
  <ion-item>
    <ion-icon name="copy-outline" slot="start"></ion-icon>
    <ion-label>Metformin</ion-label>
  </ion-item>

  <ion-card-content>
    <ul> Start Date: 16 September 2020</ul>
    <ul> End Date: 16 June 2021</ul>
    <ul> Directions: Take twice daily after meals. Once in the morning and once at night.</ul>
  </ion-card-content>
</ion-card>
</div>

<!-- Content For Health Institutions - Google map with health institutions-->
<div id="health-institutions-section">
<ion-card>
  <ion-item>
  <h2> Google Maps </h2>
</ion-item>
  <ion-card-content>
  <agm-map [latitude]='lat' [longitude]='lng' [Zoom]='zoon'>
    <agm-marker *ngFor='let loc of mylocations' [latitude]='loc.lat' [longitude]='loc.lng'></agm-marker>
</agm-map>

</ion-card-content>

</ion-card>

<ion-card>
  <ion-item>
  <h2>Hospitals Near You</h2>
</ion-item>
  <!-- The Card Content Displaying The Nearby Hospitals -->
  <ion-card-content>
    <ul> Mater Hospital Brisbane 2.0 km</ul>
    <ul> Princess Alexandra Hospital 2.1 km </ul>
    <ul> South Bank Day Hospital 2.3 km </ul>
    <ul> The Wesley Hospital 2.4 km</ul>
    <ul> Queensland Childern's Hosipital 2.5 km</ul>
    <ul> Brisbane Private Hospital 3.6 km</ul>
    <ul> Royal Brisbane and Women's Hospital 5.7 km</ul>
</ion-card-content>
</ion-card>
</div>

<!-- Content For Heart health -->
<div id="heartHealth-section">
<ion-card id="heartHealthCard">
  <!--Heart chart.js-->
<div class="divChart">
    <canvas id="heartChart" height="400%"></canvas>
</div>
</ion-card>
<ion-card>
  <ion-card-content>
        <p>Your heart rate should be between <strong>60 and 100</strong> beats per minute when resting.</p>
        <br>
        <p>Your heart rate can be up to <strong>200</strong> beats per minute when exercising.</p>
        <br>
        <p>Some symptoms you should look out for.</p>
        <ul>
          <li>Shortness of breath</li>
          <li>Lightheadedness</li>
          <li>Heart palpitations</li>
        </ul>
      </ion-card-content>
    </ion-card>
  </div>

<!-- Content For Hearing Health -->
<div id="hearingHealth-section">
  <ion-card id="hearingHealthCard">
    <!--Heart chart.js-->
  <div class="divChart">
      <canvas id="hearingChart" height="400%"></canvas>
  </div>
  </ion-card>
  <ion-card>
    <ion-card-content>
          <p>You should aim to have your headphone volume between <strong>40 and 60</strong>.</p>
        </ion-card-content>
      </ion-card>
  </div>

</ion-content>
