/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

.monthview-selected{
    font-weight: bold;
    background-color: #e83f7d !important;
    font-size: 15px !important;
    color: #ffffff !important;
}

.monthview-day {
  font-size: 10px;
}

h2 {
  font-weight: bold;
  text-align: center;
  font-size: 18px;
  padding-top: 8px;
  padding-bottom: 8px;
  color: #404040;
}

h1 {
  font-weight: bold;
  text-align: center;
  font-size: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
}

h3 {
 font-size: 16px;
 color: #575757;
 padding-top: 8px;
 padding-bottom: 8px;
 font-weight: bold;
}
