<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Home</ion-title>
    </ion-toolbar>
  </ion-header>
<h1>Welcome back!</h1>

  <!-- Pie Chart Showing Overall Health -->
  <ion-card>
  <ion-card-content>
    <h2>Your overall health status</h2>
    <div id="overallHealthChart">
      <canvas id="healthChart" height="350px"></canvas>
    </div>
    <br>
    <div>
      <ion-card-content>
        <!-- Reflect What's Bad & Good In Overall Health -->
        <ion-label id="careful-about" style = "color:#bf1919; font-weight:bold;">Be careful about:</ion-label>
        <ul id="black-text">
          <li>Your iron levels are occasionally dipping below the recommended levels.</li>
          <li>Your average daily glucose levels are occasionally too high.</li>
        </ul>
        <ion-label id="good-progress" style = "color:#1a9c1f; font-weight:bold;">Good progress with:</ion-label>
        <ul id="black-text">
          <li>Your vitamin D levels are great!</li>
          <li>Your heart rate has been consistenly healthy.</li>
        </ul>
      </ion-card-content>
    </div>
    <br>
  </ion-card-content>
</ion-card>

<!-- Reminders For Today -->
<ion-card>
  <ion-item>
    <ion-icon name="pin" slot="start"></ion-icon>
    <ion-label><h2>Reminders</h2> </ion-label>
    <ion-badge color="danger">2</ion-badge>
  </ion-item>
  <ion-item href="#" class="ion-activated">
    <ion-label> Yasmin Pill 9am</ion-label>
  </ion-item>
  <ion-item href="#">
    <ion-label> Doctor 3pm</ion-label>
  </ion-item>
</ion-card>

<!-- Prescription Summary. Basic Info About Pills The User Takes -->
<ion-card>
  <ion-card-content>
    <h2>Your presciption summary:</h2>
    <h3>Metformin</h3>
    <h6>Risks:</h6>
    <ul>
      <li>Nausea</li>
      <li>Vomiting</li>
      <li>Stomach upset, cramps and bloating</li>
    </ul>
    <h6>Benefits:</h6>
    <ul>
      <li>doesn’t cause weight gain</li>
      <li>reduces bad cholesterol</li>
    </ul>
    While Metformin has very low chances of causing abnormally low blood glucose levels, Glucophage or Glumetza may be a better alternative. Consult doctor for more info.
  </ion-card-content>
</ion-card>

</ion-content>
