#green-text {
    color: rgb(175, 182, 163);
}
#red-text {
    color: rgb(206, 170, 170);
}
#good-progress {
    color: rgb(41, 182, 41);
}
#careful-about {
    color: rgb(187, 34, 34);
}

#black-text {
  color: #000000;
}

h2 {
  font-weight: bold;
  text-align: center;
  font-size: 18px;
  padding-top: 8px;
  padding-bottom: 8px;
  color: #404040;
}

h1 {
  font-weight: bold;
  text-align: center;
  font-size: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
}

h3 {
 font-size: 16px;
 color: #575757;
 padding-top: 8px;
 padding-bottom: 8px;
 font-weight: bold;
}
